html
    head 
        title Form
    body 
        form(action='/data' method='post')
            input(name="un")
            br
            input(type='email' name='eid')
            br
            input(type='radio' name="branch" value="CSE")
            |CSE
            br
            input(type='radio' name="branch" value="CEA")
            |CEA
            br
            input(type="submit")
            