html
    head 
        Multer1
    body 
        form(action='/data' method='post' enctype='multipart/form-data')
            input(type='file' name='mypic' accept='.png,.jpg,.jpeg')
            br
            input(type='submit')
            
